<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS493_Simms_ReceivingApplication.Properties.Settings.VendorProductsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Chad Simms\documents\visual studio 2015\Projects\CS493_Simms_ReceivingApplication\CS493_Simms_ReceivingApplication\VendorProducts.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="CS493_Simms_ReceivingApplication.Properties.Settings.DataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Chad Simms\documents\visual studio 2015\Projects\CS493_Simms_ReceivingApplication\CS493_Simms_ReceivingApplication\Data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="CS493_Simms_ReceivingApplication.Properties.Settings.TransactionsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Chad Simms\documents\visual studio 2015\Projects\CS493_Simms_ReceivingApplication\CS493_Simms_ReceivingApplication\Transactions.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>